<form action="{{ url_for('db') }}" method = "POST" enctype="multipart/form-data">
   <p>name <input type = "text" name = "plat" /></p>
   <p>age <input type = "text" name = "nama" /></p>
   <p>age <input type = "text" name = "ttl" /></p>
   <p>age <input type = "text" name = "alamat" /></p>
   <p>age <input type = "text" name = "no_telp" /></p>
   <label>Choose Images: </label>
   <input type="file" name="file" id="file" class="form-control" multiple >
   <p><input type = "submit" value = "Submit" /></p>
</form>